.link {
  color: var(--brown);
  text-decoration: none;
}
.link:hover {
  color: var(--orange);
  transition: ease-in-out 200ms;
}
.menu ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-direction: row;
}

.menu button:hover {
  background-color: var(--brown);
  scale: 1.03;
  cursor: pointer;
}
.navbar {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  font-size: 18px;
  padding: 12px;
  z-index: 1000;
}
.scrolled {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.797);
  backdrop-filter: blur(30px);
}
