@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Josefin+Slab:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-brown: #251600;
  --background-cream: #edf1dd;
  --secondary-orange: #edf1dd;
  --secondary-green: #003e1f;
}

/* reset */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  width: 100vw;
  /* min-height: 90vh; */
}

.font-josefin {
  font-family: "Josefin Slab", sans-serif;
}
