@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-brown: #251600;
  --background-cream: #edf1dd;
  --secondary-orange: #edf1dd;
  --secondary-green: #003e1f;
}

/* reset */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
